        /* Custom styles */
        body {
            font-family: 'Inter', sans-serif;
            background-color: #111827; /* Koyu Gri Arka Plan */
            color: #e5e7eb; /* Açık Gri Yazı Rengi */
        }
        /* Aktif navigasyon linki için stil */
        .nav-link.active {
            color: #3b82f6; /* Mavi */
            border-bottom: 2px solid #3b82f6;
        }
        .eurocup-link.active {
        color: #f97316; /* text-orange-400 */
        border-bottom: 2px solid #f97316; /* turuncu alt çizgi */
        }
        .cezalar-link.active{
            color: #ec3838; /* text-yellow-400 */
            border-bottom: 2px solid #ce3636;
        }
        /* Section geçişleri için animasyon */
        .content-section {
            display: none; /* Varsayılan olarak tüm bölümleri gizle */
            animation: fadeIn 0.5s ease-in-out;
        }
        .content-section.active {
            display: block; /* Aktif bölümü göster */
        }
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(10px); }
            to { opacity: 1; transform: translateY(0); }
        }
        /* Scrollbar stilleri */
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #1f2937;
        }
        ::-webkit-scrollbar-thumb {
            background: #4b5563;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #6b7280;
        }